# ---
# apiVersion: traefik.containo.us/v1alpha1
# kind: IngressRoute
# metadata:
#   name: {{ .Values.projectName }}-{{ .Values.nameSpace }}-{{ .Values.app }}-ingress-http
#   namespace: {{ .Values.projectName }}-{{ .Values.nameSpace }}
# spec:
#   entryPoints:
#     - web
#   routes:
#     - match: Host(`{{ .Values.subDomainName.prometheus }}.{{ .Values.domainName }}`)
#       kind: Rule
#       middlewares:
#         - name: {{ .Values.projectName }}-{{ .Values.nameSpace }}-{{ .Values.app }}-ingress-redirect-scheme
#       services:
#         - name: {{ .Values.projectName }}-{{ .Values.nameSpace }}-{{ .Values.app }}
#           port: {{ .Values.ContainerService.port }}

# ---
# apiVersion: traefik.containo.us/v1alpha1
# kind: IngressRoute
# metadata:
#   name: {{ .Values.projectName }}-{{ .Values.nameSpace }}-{{ .Values.app }}-ingress-https
#   namespace: {{ .Values.projectName }}-{{ .Values.nameSpace }}
# spec:
#   entryPoints:
#     - websecure
#   routes:
#     - match: Host(`{{ .Values.subDomainName.prometheus }}.{{ .Values.domainName }}`)
#       kind: Rule
#       services:
#         - name: {{ .Values.projectName }}-{{ .Values.nameSpace }}-{{ .Values.app }}
#           port: {{ .Values.ContainerService.port }}
#   tls:
#     certResolver: letsencrypt

# ---
# apiVersion: traefik.containo.us/v1alpha1
# kind: Middleware
# metadata:
#   name: {{ .Values.projectName }}-{{ .Values.nameSpace }}-{{ .Values.app }}-ingress-redirect-scheme
# spec:
#   redirectScheme:
#     scheme: https
#     permanent: true
#     port: "443"