name: Helm release and deploy to argoCD
on:
    push:
      branches:
        - main
env:
  PROJECTNAME: monitoring
  REGISTRY: ${{ vars.DOCKERHUB_USERNAME}}
  VERSION: ${{github.ref_name}}

defaults:
  run:
    shell: bash

jobs:
  helmTest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Configure Git
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"        

      - name: Install Helm
        run: |
          curl -fsSL -o get_helm.sh https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3
          chmod 700 get_helm.sh
          ./get_helm.sh

          
      - name: Lint Helm Charts
        run: |
          for chart in charts/*; do
            helm lint $chart
          done          

  
  deploy:
    needs: [helmTest]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install ArgoCD CLI if not exists
        run: |
          if ! command -v argocd &> /dev/null; then
            curl -sSL -o /usr/local/bin/argocd https://github.com/argoproj/argo-cd/releases/latest/download/argocd-linux-amd64
            chmod +x /usr/local/bin/argocd
          fi

      - name: Deploy Application to ArgoCD
        env:
          ARGOCD_SERVER: ${{ vars.ARGOCD_SERVER }}
          ARGOCD_AUTH_TOKEN: ${{ secrets.ARGOCD_AUTH_TOKEN }}   
        run: |
          argocd app create prom-stack \
          --repo https://github.com/your-repo.git \
          --path charts/ \
          --dest-server https://kubernetes.default.svc \
          --dest-namespace $PROJECTNAME-main \
          --project default \
          --sync-policy automated   
          --upsert         

          
